body {
  background: rgba(252, 252, 250, 0.96);
  text-align: center;
}

h1 {
  margin: 10px;
  color: #64aec0;
  font-weight: bold;
}

/*.mainHeader {*/
  /*background: #FF5475;*/
/*}*/

//////////////////////////////////////
////////Login Form Styling///////////
////////////////////////////////////

.login {
  padding: 5%;
  margin: 10% auto;
  border: 3px solid #64aec0;
  border-radius: 20px;
  max-height: 315px;
  max-width: 250px;
  color: #64aec0;
  }

  .login h1 {
    font-size: 1.5em;
    margin: 0px 0px 40px 0px;
  }

  .usernameInput {
    text-align: center;
    display: block;
    margin: auto;
    margin-bottom: 25px;
  }

  .userPasswordInput {
    text-align: center;
    display: block;
    margin: auto;
    margin-bottom: 25px;
  }

  label {
   color: #64aec0;
   font-weight: bold;
  }


//////////////////////////////////////
//////Register Button Styling////////
////////////////////////////////////

  .register {
    margin-top: 15px;
    margin-right: 10px;
    color: #ff5475;
    border: #ff5475 solid 2px;
    padding: 0px 20px 0px 20px;
  }

    .register:hover{
      color: white;
      background: #ff5475;
      border:#ff5475 solid 2px;
    }

    .register:focus {
      color: #ff5475;
      border: #ff5475 solid 2px;
    }


//////////////////////////////////////
///////Login Button Styling//////////
////////////////////////////////////

  input.loginButton {
    color: #ff5475;
    border: #ff5475 solid 2px;
  }

    input.loginButton:hover {
      color: white;
      background: #ff5475;
      border:#ff5475 solid 2px;
    }

    input.loginButton:focus {
      color: #ff5475;
      border: #ff5475 solid 2px;
    }


//////////////////////////////////////
////input Placeholder Styling////////
////////////////////////////////////

  input[placeholder] {
   color: #64aec0;
   font-weight: bold;
   border:#64aec0 solid 2px;
  }

  ::-webkit-input-placeholder { color:#64aec0; }
  ::-moz-placeholder { color:#64aec0; } /* firefox 19+ */
  :-ms-input-placeholder { color:#64aec0; } /* ie */
  input:-moz-placeholder { color:#64aec0; }


.hidden {
  display: none;
}


//////////////////////////////////////
////////Logged In Form Styling///////
////////////////////////////////////


.loggedIn {
  padding: 8%;
  margin: 5% auto;
  border: 3px solid #64aec0;
  border-radius: 20px;
  text-align: center;
  max-width: 75%;

  .profilePicture {
    margin-bottom: 10px;
  }

  .appendedProfilePic {
    img {
      max-height: 500px;
      max-width: 600px;
      margin-bottom: 10px;
    }
  }

  .profileContent {
    width: 70%;
    margin: 0 auto;

    .profileButtons {
      width: 65%;
      margin: 0 auto;
    }
  }
}

.app {
  #settingsIcon {
    width: 60px;
  }
}

/////////////////////////////////////////////////
///////////// Logged In Button Styling /////////////
////////////////////////////////////////////////

.loggedIn {
  #saveProfileButton, #resetProfileButton {
    width: 100px;
    text-align: center;
  }

  #saveProfileButton:hover {
    background-color: limegreen;
  }

  #resetProfileButton:hover {
    background-color: #ff5475;
  }

}

//////////////////////////////////////////////////////
/////////////// App Page Styling /////////////////////
//////////////////////////////////////////////////////

.app {
  padding: 8%;
  margin: 5% auto;
  border: 3px solid #64aec0;
  border-radius: 20px;
  text-align: center;
  max-width: 75%;

  #target {
    padding-top: 15px;

    .profileContainer{
      img {
        max-width: 60%;
      }

      div {
        margin-bottom: 10px;
      }
    }

  }

  .appButtons {
    width: 50%;
    margin: 0 auto;

    #likeButton:hover {
      background-color: limegreen;
    }

    #dislikeButton:hover {
      background-color: #ff5475;
    }
  }
}

#matchesIcon {
  width: 13%;
  position: absolute;
  top: 100px;
  right: 100px;
  border: 3px solid #64aec0;
  border-radius: 20px;
  text-align: center;
}

.logout {
  position: absolute;
  top: 100px;
  left: 100px;

  &:hover {
    background-color: lightgrey;
  }
}


///////////////////////////////////////////////////////////////
////////////////// Matches Page Styling ///////////////////////
//////////////////////////////////////////////////////////////

.matchContainer {
  padding: 8%;
  margin: 5% auto;
  border: 3px solid #64aec0;
  border-radius: 20px;
  text-align: center;
  max-width: 75%;

  img {
    max-width: 600px;
  }

  button {
    margin: 20px 10px;
    width: 150px;

    &:hover {
      background-color: lightgrey;
    }
  }
}
