body {
  background: rgba(252, 252, 250, 0.96);
  text-align: center;
}

h1 {
  margin: 10px;
  color: #64aec0;
  font-weight: bold;
}

/*.mainHeader {*/
  /*background: #FF5475;*/
/*}*/

//////////////////////////////////////
////////Login Form Styling///////////
////////////////////////////////////

.login {
  padding: 5%;
  margin: 10% auto;
  border: 3px solid #64aec0;
  border-radius: 20px;
  max-height: 315px;
  max-width: 250px;
  color: #64aec0;
  }

  .login h1 {
    font-size: 1.5em;
    margin: 0px 0px 40px 0px;
  }

  .usernameInput {
    text-align: center;
    display: block;
    margin: auto;
    margin-bottom: 25px;
  }

  .userPasswordInput {
    text-align: center;
    display: block;
    margin: auto;
    margin-bottom: 25px;
  }

  label {
   color: #64aec0;
   font-weight: bold;
  }


//////////////////////////////////////
//////Register Button Styling////////
////////////////////////////////////

  .register {
    margin-top: 15px;
    margin-right: 10px;
    color: #ff5475;
    border: #ff5475 solid 2px;
    padding: 0px 20px 0px 20px;
  }

    .register:hover{
      color: white;
      background: #ff5475;
      border:#ff5475 solid 2px;
    }

    .register:focus {
      color: white;
      background:#ff5475;
      border: #ff5475 solid 2px;
    }


//////////////////////////////////////
///////Login Button Styling//////////
////////////////////////////////////

  input.loginButton {
    color: #ff5475;
    border: #ff5475 solid 2px;
  }

    input.loginButton:hover {
      color: white;
      background: #ff5475;
      border:#ff5475 solid 2px;
    }

    input.loginButton:focus {
      color: white;
      background:#ff5475;
      border: #ff5475 solid 2px;
    }


//////////////////////////////////////
////input Placeholder Styling////////
////////////////////////////////////

  input[placeholder] {
   color: #64aec0;
   font-weight: bold;
   border:#64aec0 solid 2px;
  }

  ::-webkit-input-placeholder { color:#64aec0; }
  ::-moz-placeholder { color:#64aec0; } /* firefox 19+ */
  :-ms-input-placeholder { color:#64aec0; } /* ie */
  input:-moz-placeholder { color:#64aec0; }


.hidden {
  display: none;
}


//////////////////////////////////////
////////Logged In Form Styling///////
////////////////////////////////////


.loggedIn {
  padding: 5%;
  margin: 5% auto;
  border: 3px solid #64aec0;
  border-radius: 20px;
  text-align: center;
  max-width: 75%;

  .profilePicture {
    margin-bottom: 10px;
  }

  .appendedProfilePic {
    img {
      max-height: 500px;
      max-width: 100%;
      margin-bottom: 10px;
      border-radius: 20px;
    }
  }

  .profileContent {
    width: 70%;
    margin: 0 auto;

    .profileButtons {
      width: 65%;
      margin: 0 auto;
    }
  }
}

.app {
  #settingsIcon {
    width: 1000px;
  }
}

/////////////////////////////////////////////////
///////////// Logged In Button Styling /////////////
////////////////////////////////////////////////

.loggedIn {
  #saveProfileButton, #resetProfileButton {
    width: 100px;
    text-align: center;
  }

    #submitProfilePic, #saveProfileButton {
    margin-top: 15px;
    margin-right: 10px;
    color: limegreen;
    border: limegreen solid 2px;
    padding: 0px 20px 0px 20px;
  }

     #submitProfilePic:hover, #saveProfileButton:hover {
      color: white;
      background: limegreen;
      border:limegreen solid 2px;
    }

    #resetProfileButton {
    margin-top: 15px;
    margin-right: 10px;
    color: #ff5475;
    border: #ff5475 solid 2px;
    padding: 0px 20px 0px 20px;
  }

    #resetProfileButton:hover {
      color: white;
      background: #ff5475;
      border: #ff5475 solid 2px;
    }
  }

  input#profilePictureUrl, #username, #userEmail {
    text-align: center;
  }

  #textarea, select.genderSelect {
    color: #64aec0;
    border: 2px solid #64aec0;
    font-weight: bold;
  }

  #textarea {
    max-width: 100%;
    max-height: 300px;
  }


//////////////////////////////////////////////////////
/////////////// App Page Styling /////////////////////
//////////////////////////////////////////////////////



.app {
  padding: 5%;
  margin: 5% auto;
  border: 3px solid #64aec0;
  border-radius: 20px;
  text-align: center;
  max-width: 75%;
}


.profileContainer {
  img {
    max-height: 500px;
    max-width: 100%;
    border-radius: 20px;
  }
}

.profileName {
  font-size: 1.5em;
  color: #64aec0;
  font-weight: bold;
  margin: auto;
  margin: 5px 0px;
}


.profileDescription {
  border: 3px solid #64aec0;
  border-radius: 20px;
  padding: 0px 50px 0px 50px;
  max-width: 100%;
  max-height: 500%;
  margin: auto;
  text-align: left;
  padding: 10px 20px 10px 20px;
  color:#64aec0;
  font-weight: bold;
}



//////////////////////////////////////////////////////
///////// Matches and Logout Button Styling /////////
////////////////////////////////////////////////////

.logout {
  p {
    color: #ff5475;
    padding-left: 15px;
  }
    float: left;
    color: #ff5475;
    border: #ff5475 solid 2px;
    padding: 0px 20px 0px 20px;
    background: white image-url('attachments/logout-pink.png') no-repeat 8px 2px;
    background-size: 20px 30px;
  }

  .logout:hover {
    p {
      color: white;
      padding-left: 15px;
     }
      color: #ff5475;
      border: #ff5475 solid 2px;
      background: #ff5475 image-url('attachments/logout-white.png') no-repeat 8px 2px;
      background-size: 20px 30px;
    }


#matchesIcon {
  p {
    color: #ff5475;
    padding-left: 15px;
  }
    float: right;
    border:#ff5475 solid 2px;
    text-align: center;
    color: #ff5475;
    padding: 0px 20px 0px 20px;
    background: white image-url('attachments/matches-pink.png') no-repeat 8px 2px;
    background-size: 20px 30px;
  }
    #matchesIcon:hover {
    p {
      color: white;
      padding-left: 15px;
     }
      color: #ff5475;
      border: #ff5475 solid 2px;
      background: #ff5475 image-url('attachments/matches-white.png') no-repeat 8px 2px;
      background-size: 20px 30px;
    }




//////////////////////////////////////////////////////
///////// Dislikes and Likes Button Styling /////////
////////////////////////////////////////////////////

 #dislikeButton {
   p {
    color: #ff5475;
    padding-left: 15px;
    margin-top: -2px;
  }
    margin-top: 15px;
    margin-right: 10px;
    color: #ff5475;
    border: #ff5475 solid 2px;
    padding: 0px 10px 0px 20px;
    background: white image-url('attachments/thumbs-down-pink.png') no-repeat 8px 3px;
    background-size: 20px 30px;

  }

    #dislikeButton:hover {
      p {
       color: white;
       padding-left: 15px;
      }
        color: white;
        background: #ff5475;
        border:#ff5475 solid 2px;
        background: #ff5475 image-url('attachments/thumbs-down-white.png') no-repeat 8px 3px;
        background-size: 20px 30px;
      }

    #likeButton {
      p {
        color: limegreen;
        padding-right: 15px;
        margin-top: -2px;
      }
        margin-top: 15px;
        margin-right: 10px;
        color: limegreen;
        border: limegreen solid 2px;
        padding: 0px 20px 0px 20px;
        background: white image-url('attachments/thumbs-up-green.png') no-repeat 60px 3px;
        background-size: 20px 30px;

      }

      #likeButton:hover {
        p {
        color: white;
        padding-right: 15px;
        margin-top: -2px;
      }
        color: white;
        background: limegreen;
        border: limegreen solid 2px;
        background: limegreen image-url('attachments/thumbs-up-white.png') no-repeat 60px 3px;
        background-size: 20px 30px;
      }

      .appButtons {
        width: 50%;
        margin: 0 auto;
      }


///////////////////////////////////////////////////////////////
////////////////// Matches Page Styling ///////////////////////
//////////////////////////////////////////////////////////////

.matchContainer {
  padding: 8%;
  margin: 5% auto;
  border: 3px solid #64aec0;
  border-radius: 20px;
  text-align: center;
  max-width: 75%;

  img {
    max-width: 600px;
  }
}
