
.login {
  text-align: center;
}
.hidden {
  display: none;
}

.login h1 {
  font-size: 1.1em;
}

.loggedIn {
  padding: 8%;
  margin: 5%;
  border: 1px solid grey;
  text-align: center;

  .profilePicture {
    margin-bottom: 10px;
  }

  .appendedProfilePic {
    img {
      width: 400px;
    }
  }

  .profileContent {
    width: 70%;
    margin: 0 auto;

    .profileButtons {
      width: 65%;
      margin: 0 auto;
    }
  }
}

.app {
  #settingsIcon {
    width: 60px;
  }
}
