doctype html(lang='en-US')
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title My Title
    link(rel='stylesheet', href='styles/normalize.css')
    link(rel='stylesheet', href='styles/skeleton.css')
    link(rel='stylesheet', href='css/main.css')


body

    //if lt IE 9
      script(src='http://html5shiv.googlecode.com/svn/trunk/html5.js')

    .login
      h1 Please Login Or Register
      form
        label Enter Username
        input.userNameInput(type='text', name='username', placeholder='Username', required='required' )
        label Enter Password
        input.userPasswordInput(type='password', name='password', placeholder='Password' required='required')
        button.register Register
        input.loginButton(type='submit', name='login', value='Login')
    .loggedIn.hidden
      .profilePicture
        label(for="profilePic") Enter a URL for your Profile Picture
        input(type="url" name="profilePic" placeholder="www.example.com")#profilePictureUrl
        button#submitProfilePic.
          +
      .appendedProfilePic

      .profileContent
        .username
          label(for="username") Select a Username
          input(type="text" placeholder="example.name")#username
        .email
          label(for="email") Email
          input(type="text" placeholder="example@gmail.com")#userEmail
        .gender
          label(for="genderSelectDropdown") Select Your Gender
          select(name="genderSelectDropdown").genderSelect
            option Male
            option Female
        .description
          textarea(name="textarea" id="textarea" row="100" cols="75" placeholder="What's your story...")
          .profileButtons
            .row
              .six.columns
                button#saveProfileButton Save
              .six.columns
                button#resetProfileButton Reset
    .app.hidden
      button.logout.
        Logout
      img(src="http://smarterscience.youthscience.ca/sites/default/files/images/smarterscience/ss_logos/Smarter%20Science%20Logo.starburst.png")#matchesIcon
      #target
      .profileContainer
        .appButtons
          .row
            .six.columns
              button#dislikeButton Dislike
            .six.columns
              button#likeButton Like
    #userMatches.hidden

    script(src='vendor/jquery.min.js')
    script(src='vendor/lodash.min.js')
    script(src='vendor/firebase.js')
    script(src='js/main.js')


